<div class="row head">
    <div class="col Logo">
      <img src="../assets/img/Logo.png" alt="">
    </div>
    <div class="col buHead text-right">
      <a type="button" class="btn btn-info" routerLink="/groups">В группы</a> 
      <a type="button" class="btn btn-info" routerLink="/chlist">К детям</a>
    </div>
  </div>
<div class="row container-fluid text-center inputtext">
    <div class="col">
     <h1>
         Добавить посещение
     </h1>
    </div>
</div>
<div class="row container-fluid text-center inputtext">
    <div class="col">
      <a type="button" class="btn btn-info " (click)="createDate()" >Отметить ребенка</a>
    </div>
</div>