<div class="row head">
    <div class="col Logo">
      <img src="../assets/img/Logo.png" alt="">
    </div>
    <div class="col">
      <div class="personInfo">{{cashRole}}: {{cashName}} {{cashSname}}</div>
    </div>
    <div class="col buHead text-right">
      <a type="button" class="btn btn-info " routerLink="/">Выйти из системы</a>
  </div>
</div>
<div class="row container-fluid  ">
  <div class="col-md-auto teachernav navbarr">
    <div class="row container teachercontent justify-content-center">
      <a routerLink="/teacherregistration" type="button" class="btn btn-info "> Добавить воспитателя в систему</a>
    </div>
    <div class="row container teachercontent justify-content-center">
      <a routerLink="/groups" type="button" class="btn btn-info ">Отметить ребенка</a>
    </div>
  </div>
</div>