<div class="row head">
    <div class="col Logo">
      <img src="../assets/img/Logo.png" alt="">
    </div>
    <div class="col buHead text-right">
      <a type="button" class="btn btn-info" routerLink="/">На главную</a>
      <a type="button" class="btn btn-info ">Войти</a>
    </div>
  </div>
  <div class="row Reg ">
    <div class="row content text-center container-fluid d-flex align-items-center">
      <div class="col">
        <h1>Зарегистрироваться</h1>
      </div>
    </div>
    <div class="row container-fluid text-center inputtext">
      <div class="col text-right ">
        <input type="text" placeholder="Имя" [(ngModel)]="newUser.name">
      </div>
      <div class="col text-left">
        <input type="text" placeholder="Фамилия" [(ngModel)]="newUser.sname">
      </div>
    </div>
    <div class="row container-fluid text-center inputtext">
      <div class="col text-right">
        <input type="text" placeholder="Логин" [(ngModel)]="newUser.login">
      </div>
      <div class="col text-left">
        <input type="text" placeholder="Пароль" [(ngModel)]="newUser.password">
      </div>
    </div>
    <div class="row container-fluid text-center inputtext">
      <div class="col">
        <input type="text" placeholder="Email" [(ngModel)]="newUser.mail">
      </div>
    </div>
    <div class="row container-fluid text-center inputtext">
      <div class="col">
        <a type="button" class="btn btn-info " (click)="registerUser()">Зарегистрироваться</a>
      </div>
    </div>
  </div>