<div class="row head">
  <div class="col Logo">
    <img src="../assets/img/Logo.png" alt="">
  </div>
  <div class="col buHead text-right">
    <a type="button" class="btn btn-info" routerLink="/registration">Зарегестрироваться</a>
    <a type="button" class="btn btn-info " routerLink="/enter">Войти</a>
  </div>
</div>
<div class="row content text-center container-fluid d-flex align-items-center">
    <div class="col mainText ">
      <div class="row textCMR">
        <h1>CRM-система учета для детских центров.</h1>
      </div>
      <div class="row textClient">
        Учет посещения детей. Удобные графики. Мониторинг родителями. Все процессы в одном месте.
      </div>
    </div>
    <div class="col container imgContainer">
      <img class="img-fluid mainIMG"  src="../../assets/img/mainPhoto.png" alt="">
    </div>
  </div>
