<div class="row content text-center container-fluid d-flex align-items-center">
    <div class="col mainText ">
      <div class="row textCMR">
        <h1>CRM-система учета для детских центров созданная</h1>
      </div>
      <div class="row textClient">
        Учет посещения детей. Удобные графики. Мониторинг родителями. Все процессы в одном месте.
      </div>
    </div>
    <div class="col container imgContainer">
      <img class="img-fluid mainIMG"  src="../../assets/img/mainPhoto.png" alt="">
    </div>
  </div>
